Emily Farr

In [1]:
import numpy as np
import pandas as pd

### Read in the datafile `MainBelt.csv`

In [2]:
asteroid_table = pd.read_csv('MainBelt.csv', skiprows = 9, header = None)

### Write a function to compute the Diameters of the MBAs
 * The largest asteroid should be D ~ 1000 km

In [3]:
cols = ["Name", "Abs_Mag", "Geo_Alb"]
asteroid_table = pd.read_csv('MainBelt.csv', skiprows = 9, names = cols)

In [4]:
def find_d(x,y):
    result = 1329/np.sqrt(x) * 10 ** (-0.2*y)
    return result
diameter = find_d(asteroid_table['Geo_Alb'], asteroid_table['Abs_Mag'])

### Write a function to compute the Masses of the MBAs. Assume $\rho$ = 3,000 kg/m$^3$
* The most massive asteroid should be M ~ 1e21 kg

In [5]:
def find_m(diameter):
    result = 3000*(1/6)*(np.pi)*((1000*diameter)**3)
    return result
mass = find_m(diameter)

In [6]:
mass.describe()

count    2.026000e+03
mean     1.552901e+18
std      3.077336e+19
min      2.702791e+14
25%      9.462352e+15
50%      3.337564e+16
75%      1.974414e+17
max      1.353104e+21
dtype: float64

### List the names of the 5 most massive MBAs

In [40]:
asteroid_table['mass'] = mass
asteroid_table['diameter'] = diameter
largest_mass = asteroid_table.sort_values(['mass'], ascending = False)

In [8]:
#d = Integer decimal                g = Floating point format (Uses exponential format if exponent is less than -4)
#f = Floating point decimal         x = hex
#s = String                         o = octal
#e = Floating point exponential     b = binary

In [41]:
for idx,val in enumerate(largest_mass['Name'][0:5]):
    
    Mass = largest_mass['mass'][idx]
    
    my_s = ("At number {0:d} is {1:s} with a mass of {2:.1g} kg".format(idx,val,Mass))
    print(my_s)

At number 0 is      1 Ceres with a mass of 1e+21 kg
At number 1 is      2 Pallas with a mass of 2e+20 kg
At number 2 is      4 Vesta with a mass of 2e+19 kg
At number 3 is     10 Hygiea with a mass of 2e+20 kg
At number 4 is    511 Davida (1903 LU) with a mass of 3e+18 kg

In [48]:
smallest_mass = a[-5:]
smallest_mass

                           Name  Abs_Mag  Geo_Alb          mass  diameter
1774    6295 Schmoll (1988 CF3)     14.0   0.1114  3.947908e+14  6.310770
1597      4121 Carlin (1986 JH)     12.6   0.4164  3.779451e+14  6.219703
1492    3338 Richter (1973 UX5)     14.2   0.1000  3.521233e+14  6.074702
1630     4335 Verona (1983 VC7)     13.3   0.2418  3.247210e+14  5.912850
2024          26604 (2000 FO25)     12.8   0.4331  2.702791e+14  5.561999

### List the names of the 5 least massive MBAs

In [55]:
for idx,val in enumerate(largest_mass['Name'][-5:]):
    
    Mass_s = largest_mass['mass'][idx]
    
    my_s = ("At number {0:d} is {1:s} with a mass of {2:.1g} kg".format(idx,val,Mass_s))
    print(my_s)

At number 0 is   6295 Schmoll (1988 CF3) with a mass of 1e+21 kg
At number 1 is   4121 Carlin (1986 JH) with a mass of 2e+20 kg
At number 2 is   3338 Richter (1973 UX5) with a mass of 2e+19 kg
At number 3 is   4335 Verona (1983 VC7) with a mass of 2e+20 kg
At number 4 is  26604 (2000 FO25) with a mass of 3e+18 kg

In [73]:
A = 3.16e+21
B = 59.4
C = 150
D = 4.28

In [79]:
summary = (
"""
The total mass of the main belt of the asteroid belt is {0:.1g} kg, of which {1:f}%
of the total mass in contained in the five most massive asteroids. In fact, the {2:d} largest
asteroids account for 90% of the total mass of the main belt. The Moon is {3:f} times more 
massive than the total mass of the main belt asteroids.
"""
.format(A,B,C,D)
)


print(summary)

The total mass of the main belt of the asteroid belt is 3e+21 kg, of which 59.400000%
of the total mass in contained in the five most massive asteroids. In fact, the 150 largest
asteroids account for 90% of the total mass of the main belt. The Moon is 4.280000 times more
massive than the total mass of the main belt asteroids.

### Determine the total mass of all of the MBAs

In [69]:
total_mass = mass.sum()
total_mass

3.146177625451557e+21

### Determine the fraction of the total mass contained in the 5 largest MBAs

In [12]:
e = largest_mass['mass']
mass_in_L = e.sum()
fraction_of_total = (mass_in_L/total_mass)*100
fraction_of_total

59.400762222979509

### How does the total mass of the MBAs compare to the mass of the Moon ($7.35\ \times\ 10^{22}$ kg)?

In [13]:
mass_of_moon = 7.35*10**22
mba_percent_of_moon = (total_mass/mass_of_moon)*100
mba_percent_of_moon

4.2805137761245682

In [14]:
print("The total mass of the asteroids is ~4.28% of the mass of the moon.")

The total mass of the asteroids is ~4.28% of the mass of the moon.

### How many MBAs does it take to get 90% of the total mass of the MBAs (start from the most massive)

In [15]:
ninety_percent_mass = total_mass*(0.9)
ninety_percent_mass

2.8315598629064016e+21

In [58]:
b = asteroid_table.sort_values(['mass'], ascending = False)
test_number = b[:150]
mass_of_number_of_test_number = test_number['mass']
F = mass_of_number_of_test_number.sum()
F

2.8324804789870034e+21

In [17]:
print("The sum of the largest 150 asteroids ~ 90% of the total mass")

The sum of the largest 150 asteroids ~ 90% of the total mass

### Due Tue Oct 17 - 5pm
- `Make sure to change the filename to your name!`
- `Make sure to change the Title to your name!`
- `File -> Download as -> HTML (.html)`
- `upload your .html and .ipynb file to the class Canvas page`

***

## Absolute Magnitude, Size and Mass

The absolute magnitude **H** of a solar system object is the magnitude that it would have if it was 1 AU from the Earth and 1 AU from the Sun while having a phase angle of 0 degrees. Remember, astronomical magnitudes are "backwards".  The magnitude of a bright object is *less* than the magnitude of a dimmer object.

The phase angle **$\theta$** in astronomical observations is the angle between the light incident onto an observed object and the light reflected from the object. In the context of astronomical observations, this is usually the angle $\angle$ Sun-object-observer.

![Phase Angle](images/Phase.jpg)

It is actually impossible for an object to be 1 AU from the Earth and 1 AU from the Sun while having a phase angle of 0 degrees. The Sun and the Earth would occupy the same point.  However, this is the definition of **H**.  Please note, that the definition of absolute magnitude for solar system objects is *very* different from the definition of absolute magnitude used for stars.

The Absolute magnitude of an object is related to the physical size of the object via the equation:

$$\large D\ (\textrm{in km}) = \frac{1329}{\sqrt{A}}\  10^{-0.2H}$$

Where **D** is the diameter of the object in kilometers and **A** is the geometric albedo of the object. 

The geometric albedo **A** of an astronomical body is the ratio of its actual brightness at zero phase angle (i.e., as seen from the light source) to that of an idealized flat, fully reflecting, diffusively scattering disk with the same cross-section.

Perfect reflectors of light have A = 1 and perfect absorbers have **A** = 0. Typical asteroids have a wide range of values: 0.02 $<$ A $<$ 0.8.

Once we have the diameter of the object, we can determine the mass if we know the density ($\rho$).

$ \large \mathrm{Mass} = \rho \cdot \mathrm{Volume} = \rho \cdot \frac{4}{3} \pi r^3 \ = \ \rho \cdot \frac{1}{6} \pi D^3 $

This assumes that the object is spherical (this is **not** a very good assumption for asteroids).