# Units in Python

The `Astropy` package includes a powerful framework that allows users to attach **units** to scalars and arrays, and manipulate/combine these, keeping track of the units.

`Astropy` has a lot of built-in units. A complete list can be found [here.](http://docs.astropy.org/en/stable/units/index.html#module-astropy.units.si)

In [1]:
import numpy as np

import pandas as pd
from astropy.table import QTable

from astropy import units as u
from astropy import constants as const
from astropy.units import imperial
imperial.enable()

*Note: because we imported the `units` package as `u`, you cannot use **u** as a variable name.*

### You can use the units by themselves:

In [2]:
u.m / (u.s * u.s)

Unit("m / s2")

In [3]:
u.s    # The unit of seconds

Unit("s")

In [4]:
u.m / u.s    # combine them into a composite unit

Unit("m / s")

### For any unit you can find all of the built-in units that are equivalent:

In [5]:
u.m.find_equivalent_units()

  Primary name | Unit definition | Aliases
[
  AU           | 1.49598e+11 m   | au, astronomical_unit            ,
  Angstrom     | 1e-10 m         | AA, angstrom                     ,
  cm           | 0.01 m          | centimeter                       ,
  earthRad     | 6.3781e+06 m    | R_earth, Rearth                  ,
  ft           | 0.3048 m        | foot                             ,
  fur          | 201.168 m       | furlong                          ,
  inch         | 0.0254 m        |                                  ,
  jupiterRad   | 7.1492e+07 m    | R_jup, Rjup, R_jupiter, Rjupiter ,
  lyr          | 9.46073e+15 m   | lightyear                        ,
  m            | irreducible     | meter                            ,
  mi           | 1609.34 m       | mile                             ,
  micron       | 1e-06 m         |                                  ,
  mil          | 2.54e-05 m      | thou                             ,
  nmi          | 1852 m          | nauticalmile, NM                 ,
  pc           | 3.08568e+16 m   | parsec                           ,
  solRad       | 6.957e+08 m     | R_sun, Rsun                      ,
  yd           | 0.9144 m        | yard                             ,
]

### The `units` package is much more useful when you combine it with scalars or arrays to create `Quantities`

In [6]:
time_1 = 0.25 * u.s

time_1

In [7]:
position = np.arange(1,6,1) * u.m    # np.arange(x,y,z) - create an array of numbers between x and y in steps z

position

In [8]:
velocity = position / time_1

velocity

### You can access the number and unit part of the Quantity separately:

In [9]:
velocity.value

array([  4.,   8.,  12.,  16.,  20.])

In [10]:
velocity.unit

Unit("m / s")

### This is useful in formatting output:

In [11]:
"The velocity of the first particle is {0:.1f}".format(velocity[0])

'The velocity of the first particle is 4.0 m / s'

In [12]:
"The velocity of the first particle is {0.value:.1f} in the units of {0.unit:s}.".format(velocity[0])

'The velocity of the first particle is 4.0 in the units of m / s.'

### At example problem: How long would it take to go 100 km at velocities in `velocity`?

In [13]:
distance = 100 * u.km

time_2 = distance / velocity

time_2

### Notice that the units are a bit strange. We can simplify this using `.decompose()`

In [14]:
time_2.decompose()

<Quantity [ 25000.        , 12500.        ,  8333.33333333,
             6250.        ,  5000.        ] s>

### Unit conversion is really easy!

In [15]:
time_2.to(u.h)

In [16]:
velocity.to(u.cm / u.h)

In [17]:
velocity.to(imperial.mi / u.h)

<Quantity [  8.94774517, 17.89549034, 26.8432355 , 35.79098067,
            44.73872584] mi / h>

In [18]:
velocity.si                     # quick conversion to SI units

In [19]:
velocity.cgs                    # quick conversion to CGS units

In [20]:
density = 3000 * (u.kg / u.m**3)     # From last week's homework

density.to(u.kg / u.km**3)

### Units make math with Time easy!

In [21]:
u.s.find_equivalent_units()

  Primary name | Unit definition | Aliases
[
  a            | 3.15576e+07 s   | annum    ,
  d            | 86400 s         | day      ,
  fortnight    | 1.2096e+06 s    |          ,
  h            | 3600 s          | hour, hr ,
  min          | 60 s            | minute   ,
  s            | irreducible     | second   ,
  sday         | 86164.1 s       |          ,
  wk           | 604800 s        | week     ,
  yr           | 3.15576e+07 s   | year     ,
]

In [22]:
time_3 = 29 * u.day + 7 * u.h + 56 * u.min + 12 * u.s
time_4 = 2 * u.fortnight + 1.33 * u.day

In [23]:
time_3 - time_4

In [24]:
(time_3 - time_4).to(u.min)

### You can define your own units

In [25]:
ringo = u.def_unit('Ringos', 3.712 * imperial.yd)

In [26]:
position.to(ringo)

In [27]:
velocity.to(ringo / u.s)

### Dimentionless Units

In [28]:
dimless_y = (1 * u.m) / (1 * u.km)

dimless_y

In [29]:
dimless_y.unit

Unit("m / km")

In [30]:
dimless_y.decompose()   # returns the scale of the dimentionless quanity

### Some math functions only make sense with dimentionless quanities

In [31]:
np.log(2 * u.m)

UnitTypeError: Can only apply 'log' function to dimensionless quantities

In [32]:
np.log((2 * u.km) / (1 * u.m))

In [33]:
np.log10((2 * u.km) / (1 * u.m))

### Or they expect the correct type of unit!

In [34]:
np.sin(2 * u.m)

UnitTypeError: Can only apply 'sin' function to quantities with angle units

In [35]:
np.sin(2 * u.deg)

## Using units can save you headaches. 

* All of the trig functions expect all angles to be in radians. 
* If you forget this, it can lead to problems that are hard to debug

In [36]:
np.sin(90)               # not really what I expected

0.89399666360055785

In [37]:
np.sin(90 * u.deg)       # better

# QTables vs. DataFrames

* Astropy tables are constructed to use units.
* The units of the column will be saved with the table


# Part II - Advantage Astropy

In [38]:
planet_table = QTable.read('Planets.csv', format='ascii.csv')

In [39]:
planet_table[0:3]

<QTable length=3>
  Name     a      col2
  str7  float64 float64
------- ------- -------
Mercury  0.3871  0.2056
  Venus  0.7233  0.0068
  Earth  0.9991  0.0166

In [40]:
planet_table['a'].unit = u.AU
planet_table[0:3]

<QTable length=3>
  Name     a      col2
           AU
  str7  float64 float64
------- ------- -------
Mercury  0.3871  0.2056
  Venus  0.7233  0.0068
  Earth  0.9991  0.0166

### The unit is now part of the structure of the table, and will be saved when the table is saved.

In [41]:
planet_table['a'].to(u.km)

<Quantity [  5.79093357e+07,  1.08204140e+08,  1.49463233e+08,
             2.27942276e+08,  7.78148284e+08,  1.42752272e+09,
             2.86819510e+09,  4.48448041e+09,  2.67165341e+09] km>

In [42]:
planet_table['a'].to(u.km)[2]

### You can use  `pandas` to read in tables and then convert them to `QTables`

In [43]:
planet_table2 = pd.read_csv('Planets.csv')

In [44]:
planet_table2[0:3]

      Name       a  Unnamed: 2
0  Mercury  0.3871      0.2056
1    Venus  0.7233      0.0068
2    Earth  0.9991      0.0166

In [45]:
planet_table3 = QTable.from_pandas(planet_table2)

In [46]:
planet_table3['a'].unit = u.AU

In [47]:
planet_table3[0:3]

<QTable length=3>
  Name     a    Unnamed: 2
           AU
  str7  float64  float64
------- ------- ----------
Mercury  0.3871     0.2056
  Venus  0.7233     0.0068
  Earth  0.9991     0.0166

In [48]:
planet_table3['a']

<Quantity [  0.3871,  0.7233,  0.9991,  1.5237,  5.2016,  9.5424, 19.1727,
            29.9769, 17.8589] AU>

In [49]:
planet_table3['a'].to(u.km)

<Quantity [  5.79093357e+07,  1.08204140e+08,  1.49463233e+08,
             2.27942276e+08,  7.78148284e+08,  1.42752272e+09,
             2.86819510e+09,  4.48448041e+09,  2.67165341e+09] km>

# Constants

The `Astropy` package also includes a whole bunch of built-in constants to make your life easier.

A complete list of the built-in constants can be found [here.](http://docs.astropy.org/en/stable/constants/index.html#reference-api)

In [50]:
const.G

<<class 'astropy.constants.codata2014.CODATA2014'> name='Gravitational constant' value=6.67408e-11 uncertainty=3.1e-15 unit='m3 / (kg s2)' reference='CODATA 2014'>

In [51]:
const.M_sun

<<class 'astropy.constants.iau2015.IAU2015'> name='Solar mass' value=1.9884754153381438e+30 uncertainty=9.236140093538353e+25 unit='kg' reference='IAU 2015 Resolution B 3 + CODATA 2014'>

---

### An Example: The velocity of an object in circular orbit around the Sun is

$$ v=\sqrt{GM_{\odot}\over d} $$

In [52]:
distance = planet_table['a'][0:3]  # Mercury, Venus, Earth

In [53]:
orbit_v = np.sqrt(const.G * const.M_sun / distance)

orbit_v

In [54]:
orbit_v.decompose()

In [55]:
orbit_v.to(u.km/u.s)

In [56]:
orbit_v.to(ringo/u.ms)

## Functions and Units - (Last week's homework)

In [57]:
def find_diameter(H,A):
    result = (1329 / np.sqrt(A)) * (10 ** (-0.2 * H))
    return result * u.km

In [58]:
H = 3.34
A = 0.09

asteroid_diameter = find_diameter(H,A)
asteroid_diameter

In [59]:
def find_mass(D):
    p = 3000 * (u.kg / u.m**3)
    result = p * (1/6) * np.pi * D**3
    return result

In [60]:
asteroid_mass = find_mass(asteroid_diameter)
asteroid_mass

In [61]:
asteroid_mass.decompose()

In [62]:
moon_mass = u.def_unit('Lunar\ Masses', 7.34767309e22 * u.kg)

In [63]:
asteroid_mass.to(moon_mass)